<h2>Board games</h2>

<div class="row">
    <div class="col-md-12 options">
        <a href="#/GamesAdmin/Register" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Create
        </a>
        <a ng-click="getAll()" class="btn btn-primary">
            <i class="glyphicon glyphicon-refresh"></i> Refresh
        </a>
    </div>
</div>

<br />

<section class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="game in games">
        <article class="thumbnail movie_item">
            <img src="" alt="" />
            <div class="caption">
                <h3>{{ game.Title }}</h3>
                <p class="truncate">{{ game.Description }}</p>
                <footer class="movie_item_options">
                    <a href="#/GamesAdmin/Details/{{game.GameID}}" class="btn btn-primary">Details</a>
                    <a href="#/GamesAdmin/Edit/{{game.GameID}}" class="btn btn-primary">Edit</a>
                    <a ng-click="delete(game)" class="btn btn-primary ">Delete</a>
                </footer>
            </div>
        </article>
        <br />
    </div>
</section>